.Light__on {
  background: #f2994a;
  background: linear-gradient(135deg, #f2994a, #f2c94c);
}

.Light__off {
  background: #0f2027;
  background: linear-gradient(to left, #2c5364, #203a43, #0f2027);
}
